# Virtual Environment
venv/
dsvenv/
env/

# Models
models/

# Temporary files
temp.pdf

# Reports/Data
data/
reports/
notebooks/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# HuggingFace
.cache/